<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Data</title>
</head>
<body>
    <h1>Course Details</h1>
    <table border="1 px" id = "course-details-table">
        <thead>
            <tr>
                <th>Average Marks</th>
                <th>Maximum Marks</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>{{avg}}</td>
                <td>{{maxi}}</td>
            </tr>
        </tfoot>
    </table>
    <br>
    <img src="../static/image.png"/>
    <br><br>
    <a href="/">Go back</a>
</body>
</html>