<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Details</h1>
    <table border="1px" id="student-details-table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Course ID</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row['sid'] }}</td>
                    <td>{{ row['cid'] }}</td>
                    <td>{{ row['marks'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total Marks</td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
    <br><br>
    <a href="/">Go back</a>
</body>
</html>